body {
    background-image: url(./images/rainbow-weather.jpg);
    background-position: center center ;
    background-size: cover;
    
}
.bttn{
    right: 20px !important;
    z-index: 2;
}